{{ define "main" }}
<!--front matter is defined in content/_index.html-->

    <br>
    <p># Hi, I'm Tyagraj Desigar
    <p># I also go by Tyagdit
    <p># I'm a B.E. Comp. Sci. student at <a href="https://mmcoe.edu.in">MMCOE</a>
    <p># I like to fiddle around with Linux and contribute to FOSS
    <p># I have experience with Python and am currently learning Go
    <p># Please don't tell me to do any more web-dev
    <p># I'd probably have some blog posts on this site as well.
    <p># You can find me on:
    <br><br>

{{ with .Site.Params.social }}
    {{ range sort . "weight" }}
        {{ if .url }}
            <a href="{{ .url }}" aria-label="{{ .name | safeHTML }}">[{{ .name }}]</a>
        {{ else }}
            [{{ .name | safeHTML }}]
        {{ end }}
    {{ end }}
{{ end }}

{{ end }}
